/*
Syntax for CSS




*/

* {
	font-family: "Roboto", sans-serif; 
}



h1, h2 {
	font-family: "Montserrat", sans-serif;
}


img {
	height: 250px;
	width: 250px; 
	border: 5px solid forestgreen;
	border-radius: 100%;
}


#landing {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#gallery {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}

ul{
	list-style: none;
	padding: 0	
}


.tools {
	border: 5px solid #f2f2f2;
	height: 200px;
	width: 75%;
	margin: 20px;
	padding: 25px;
}

h2 {
	color: #08BDBD;
}

h1{
	color: #26A9AE;
}


html{
	scroll-behavior: smooth;
}






